* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Tilt Neon, sans-serif;
    display: flex;
    flex-direction: column;
}

/* Hero img */
/* Hero image. Image by : Photo by Andrea De Santis on Unsplash */
#hero-img {
    min-height: 100vh;
    width: 100%;
    background: url("../images/musicpic_background.jpg") no-repeat center center/cover;
    position: absolute;
}

/* Header */
/* Header image by weston m on Unsplash - sheet music */
#header {
    background: url("../images/music_header.jpg") no-repeat center/cover;
    height: 4rem;
    margin-top: 0;
}

#header-text {
    text-align: center;
    color:rgb(46, 84, 239);
    font-size: 3rem;
    margin-bottom: 4px;
    font-weight: 400;
}

/* Quiz body */
#quiz-body {
    display: block;
    align-self: auto;
    height: 80%;
    background-color: rgba(118, 229, 229, 0.8);
    margin-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    position: relative;
}

/* Quiz question images */
#image{
    width: 100%;
    height: auto;
}

/* Instruction section */
#instruction {
    font-size: 1rem;
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    text-align: center;
    border: solid 1px
}
/* Question sections and answer buttons */
#question-text {
    text-align: center;
    margin-top: 10%;
    font-size: 1.4rem;
    margin-left: 2%;
    margin-right: 2%;
    margin-bottom: 5%;
}

#option-holder{
    height: auto;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
}

#option-holder button{
    display: block;
    justify-content: center;
    padding: 7px;
    height: 3rem;
    width: 100%;
    font-size: 1.1rem;
}

/* Colour coding answers to green(correct answer) or red(wrong answer) */
.correct-answer{
    background-color: green !important;
}


.wrong-answer{
    background-color: red !important;
}

#score{
    color: rgb(246, 243, 64);
    text-align: center;
    margin-top: 3%;
    padding-bottom: 3%;
}

 /* Question 1 */
/* Question 1 image by Aron Fjell on Unsplash - red house */
/*   
.pic-one {
    background: url("../images/red-house.jpg") no-repeat center center/cover;
    height: 200px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.pic-one, h3 {
    text-align: center;
    font-size: 30px;
}

.answers {
    padding-top: 20px; 
    vertical-align: middle;
    font-size: 20px;
}

.answers>input {
    margin-bottom: 20px;
    margin-left: 15px;
}

.next-button-container{
    margin-top: 20px;
    height: 4rem;
    display: flex;
    justify-content: center;
}

.next-button-container button{
    width: 9rem;
    height: 4rem;
    border-radius: 8px;
    font-size: large;
    background: none;
    background-color: darkslategray;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(60, 67, 137);
    cursor: pointer;
    outline: none;
}
*/