/* Google Fonts, Marcellus SC */
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Tilt Neon", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Hero img */
#hero-img {
    min-height: 100vh;
    width: 100%;
    background: url("../images/music-pic_background.jpg") no-repeat center center/cover;
    position: absolute;
}

/* Header Text */
#header-text {
    text-align: center;
    color:rgb(214, 221, 10);
    text-decoration: underline;
    font-size: 3rem;
    margin-top: 3%;
    padding-bottom: 3%;
    font-weight: 600;
}

/* Quiz body */
#quiz-body {
    display:flex;
    flex-direction: column;
    height: auto;
    background-color: rgba(118, 229, 229, 0.8);
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 20%;
}

/* Quiz question images */
#image{
    width: 80%;
    height: auto;
    margin-left: 10%;
}

/* Hides image on start page so there's a distinction between start and game pages */
.hidden{
    display: none !important;
}

/* Instruction section */
#instruction {
    font-size: 1.3rem;
    
    margin-top: 3%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 4%;
    text-align: center;
    border: solid 1px;
    padding-top: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    padding-left: 2%;
}

/* start button- Start game */
#start{
    color: black;
    background-color: rgb(246, 243, 64);
    border-radius: 10px;
    border-color:#000000;
    font-size: 0.9rem;
    padding: 2%;
    margin-top: 2%;
    margin-bottom: 1%;
}

#start i{
    font-size: 1.3rem;
}

/* Question sections and answer buttons */
#question-text {
    text-align: center;
    margin-top: 5%;
    font-size: 1.4rem;
    margin-left: 2%;
    margin-right: 2%;
}

#option-holder{
    height: auto;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    padding-bottom: 5%;
}

#option-holder button{
    display: block;
    align-content: center;
    border: solid;
    border-width: thin;
    border-color:#000000;
    height: 3.5rem;
    width: 100%;
    font-size: 1.1rem;
    background-color: rgb(139, 229, 121);
    padding-top: 7px;
    padding-bottom: 7px;
}

/* Colour coding answers to green(correct answer) or red(wrong answer) */
.correct-answer{
    background-color: green !important;
}

.wrong-answer{
    background-color: red !important;
}

/* Score section */
#score{
    color: rgb(246, 243, 64);
    text-align: center;
    font-size: 1.3rem;
    margin-left: 30%;
    margin-right: 30%;
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 1.5%;
    border: 2px solid ;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.7);
}

#score h3 {
    padding-left: 1%;
    padding-right: 1%;
}

/* Footer */
#footer {
    background: rgb(246, 243, 64);
    width: 100%;
    height: 35px;
    position: fixed;
    bottom: 0;
    padding-bottom: 45px;
}

#social-media {
    text-align: center;
    padding-top: 10px;
    display: flex;
    
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media a {
    color: #000000;
    font-size: 1.3rem;
    
}

/* Media queries min-width 320-375 */
@media screen and (min-width: 320px) and (max-width: 390px){
    
    #quiz-body {
        height: 60%;
        margin-bottom: 30%;
    }
    
    #instruction {
        font-size: 1rem;
    }

    #start{
        font-size: 0.8rem;
    }
    
    #start i{
        font-size: 1rem;
    }

    #question-text {
        margin-top: 6%;
        font-size: 0.9rem;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
    
    #option-holder{
        margin-left: 7%;
        margin-right: 7%;   
    }
    
    #option-holder button{
        height: 2.5rem;
        width: 100%;
        font-size: 0.8rem;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    #score{
        font-size: 1.1rem;
    }
}

/* Media queries min-width 768 */
@media screen and (min-width: 768px){
    #header{
        height: 5rem;
    }

    #header-text{
        font-size: 4.5rem;
        margin-top: 0;
    }

    #instruction {
        font-size: 1.7rem;
        border: solid 2px;
    }

    #image{
        width: 70%;
        height: auto;
        margin-left: 15%;
      }

    #start{
        font-size: 1.2rem;
        margin-top: 3%;
    }

    #start i {
        font-size: 1.8rem;
    }

    #question-text {
        margin-top: 5%;
        font-size: 2rem;
    }
    
    #option-holder{
        margin-left: 8%;
        margin-right: 8%;
        margin-top: 4%;
        padding-bottom: 4%;
    }
    
    #option-holder button{
        padding-top: 7px;
        padding-bottom: 7px;
        height: 5rem;
        width: 100%;
        font-size: 1.5rem;
    }

    #score{
        font-size: 1.5rem;
        margin-left: 35%;
        margin-right: 35%;
        padding-top: 2%;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 2%;
        border: 2px solid ;
        border-radius: 15px;
    }
    
    #score h3 {
        padding-left: 1%;
        padding-right: 1%;
    }
}

/* Media queries min-width 1024-1920 */
@media screen and (min-width: 1024px) and (max-width: 1920px){
    #quiz-body {
        height: 60%;
        width: 95%;
        margin-left: 2.5%;
        margin-bottom: 10%;
    }

    #instruction {
        font-size: 2.5rem;
    }

    #question-text {
        margin-top: 2%;
        font-size: 3rem;
    }
    
    #option-holder{
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 2%;
        margin-bottom: 0;
        padding-bottom: 2%;
    }
    
    #option-holder button{
        padding-top: 7px;
        padding-bottom: 7px;
        height: 5rem;
        width: 100%;
        font-size: 2rem;
    }
}